/* fonts */
/* Big Noodle Family */
@font-face {
    font-family: noodleNormal;
    src: url(./fonts/big-noodle-too/big_noodle_titling.ttf);
}
@font-face {
    font-family: noodleOblique;
    src: url(./fonts/big-noodle-too/big_noodle_titling_oblique.ttf);
}

/* Config Family */
@font-face {
    font-family: configBold;
    src: url(./fonts/config/Config-Bold.otf) format("opentype");
}
@font-face {
    font-family: configMedium;
    src: url(./fonts/config/Config-Medium.otf) format("opentype");
}
@font-face {
    font-family: configSemibold;
    src: url(./fonts/config/Config-SemiBold.otf) format("opentype");
}
@font-face {
    font-family: configLight;
    src: url(./fonts/config/Config-Light.otf) format("opentype");
}
@font-face {
    font-family: configThin;
    src: url(./fonts/config/Config-Thin.otf) format("opentype");
}

/* Other */
html{
    background: linear-gradient(135deg, hsl(213, 24%, 50%), rgb(179, 191, 216));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

div h1{
    font-family: configBold, serif;
    color: white; 
    font-size: 60px;
    margin: 20px 20px;
}
div h2{
    font-family: configMedium, serif;
    color: white; 
    font-size: 40px;
    margin: 20px 20px;
}
div h3{
    font-family: configSemibold, serif;
    color: white; 
    font-size: 20px;
    margin: 20px 20px;
}
div p{
    font-family: configLight, serif;
    color: white; 
    font-size: 20px;
    margin: 20px 20px;
}
.caption{
    font-family: configThin, serif;
    color: rgba(255, 255, 255, 0.5); 
    font-size: 17px;
    margin: 20px 20px;
    font-style: italic;
}

.glass{
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(10px); */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 25px hsla(213, 24%, 25%, 0.5);
    text-align: center;
    margin: 20px 10px
}

main h1{
    font-family: noodleOblique, serif;
    color: white;
    font-size: 100px;
    text-shadow: rgba(0, 0, 0, 0.25) 10px 10px 10px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 6px;
}